<link rel="stylesheet" href="/css/sign-in.css">
<p class="sign__word">Welcome back!!!</p>
<div class="center-image">
    <img src="https://fcit.usf.edu/matrix/wp-content/uploads/2017/01/DanceBot-3-LG.gif" alt="Welcome back!!">
</div>
<div id="signin-form">
    <h1>Sign In</h1>

<form action="/users/create-session" method="POST">

    <input type="email" name="email" placeholder="Your email" required>
    <input type="password" name="password" placeholder="Your password" required>
    
    <input type="submit" value="Sign In">
</form>
<a href="/users/auth/google">
<div class="gmail">   
    <img src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" alt="Google Sign-In">
     <!-- <i class="fab fa-google-plus-g"></i> -->
</div>
</a>
<a href="/users/reset-password">
    <div class="forgot-pass-btn">
        Forgot Password?
    </div>
</a>
</div>
