#extra-links {
  width: 20%;
  border-right: 4px solid lightgray; }

#posts-section {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column; }

#feed-posts {
  width: 100%; }

input[type="submit"] {
  height: 2rem;
  width: 15%;
  color: white;
  background-color: #242526;
  border: white;
  border-radius: 0.25rem; }

#post-box {
  width: 100%;
  min-height: 6rem;
  background-color: white;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0.5px lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px; }
  #post-box form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #post-box form textarea {
      background-color: #f0f2f5;
      border-radius: 2rem;
      height: 2.5rem;
      width: 80%;
      border: transparent;
      text-align: center;
      font-size: 1.5rem; }
    #post-box form input {
      height: 2.5rem; }
    #post-box form div {
      width: 50%;
      background-color: cadetblue; }

#post-list-container {
  height: auto;
  width: 100%; }

.posts {
  height: auto;
  width: 100%;
  background-color: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 5px;
  box-shadow: 0 1px 5px 0.5px lightgray; }
  .posts .single-post div {
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 0; }
  .posts .single-post .a {
    padding-left: 0.5rem;
    text-transform: capitalize;
    box-shadow: 0 1px 2px 0.25px grey;
    border-radius: 0.2rem; }
  .posts .post-file {
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgray; }
    .posts .post-file img {
      height: 100%;
      width: 100%; }
  .posts .post-comments form {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0; }
    .posts .post-comments form input.comment_input {
      width: 70%;
      height: 2rem;
      background-color: #f0f2f5;
      box-shadow: 0 1px 5px 0.5px grey;
      border-radius: 2rem;
      border: transparent;
      padding-left: 10px; }
  .posts .post-comments .post-comments-list .single-comment {
    display: flex;
    padding: 0.5rem 0; }
    .posts .post-comments .post-comments-list .single-comment a {
      color: black; }
    .posts .post-comments .post-comments-list .single-comment div {
      padding: 0 10px; }
    .posts .post-comments .post-comments-list .single-comment .a {
      text-transform: capitalize; }
    .posts .post-comments .post-comments-list .single-comment .b {
      background-color: #f0f2f5;
      border-radius: 0.5rem; }

#user-friends {
  width: 20%;
  border-left: 4px solid lightgray;
  padding: 1.5rem 1rem 1rem 1.5rem; }
  #user-friends .friends-box {
    width: 100%;
    margin: 2px;
    height: 2rem;
    padding: 0 5px;
    display: flex;
    align-items: center; }
  #user-friends .friends-box:hover {
    background-color: lightgray;
    border-radius: 0.4rem; }
